<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <style>
        h1{
            background-color: aquamarine;
        }
        p{
            background-color: chocolate;
        }

    </style>
</head>
<body>
    <center><h1 style="color: brown;" >Welcome to Everyone</h1>
    <p style="color: chartreuse;">Welcome speech
        A welcome speech is a statement that signifies the beginning of any particular event, meeting, assembly, or celebration. Its purpose is to cordially greet all participants in a gathering and provide important information about the special highlight in the event. A well-crafted welcome speech can set the tone for the entire event, making it a memorable and enjoyable experience for everyone involved.</p>
    </center>

</body>
</html>